In [1]:
import pandas as pd 
import numpy as np 
import datetime as datetime

In [2]:
#read in last_played_wars csv
last_played_wars = pd.read_csv("updated_last_played_wars.csv")
#read in roster
roster = pd.read_csv("fullroster.csv") #sheerforce edit
roster.columns = ["Tag", "Name", "Town Hall", "Clan"]
#last_played_wars = last_played_wars.drop(columns = ["Total Wars"])

# last_played_wars["Participation"] = last_played_wars["Joined Wars"] / last_played_wars["Total Wars"]
last_played_wars = last_played_wars[["Name", "Tag", "Last War", "Town Hall", "Clan", "Total Wars"]]
last_played_wars.head()

,Name,Tag,Last War,Town Hall,Clan,Total Wars
0,marleigh,#QGCLV2J0,5/25/2021,11,Sheer Force,11
1,Kismet_27,#Q0L0VY0PQ,5/25/2021,9,Sheer Force,27
2,ZARD,#LJ92JJ8Q,5/25/2021,10,Sheer Force,12
3,Dry Dream,#LVY9R20CR,5/25/2021,10,Legendary Monks,22
4,littlesonshine,#RCV08YPR,5/25/2021,12,Sheer Force,29

In [8]:
#Split Last Played Wars by clan
#Sheer Force

#Create a copy of Sheer Force only to manipulate
sf_lpw = last_played_wars.loc[last_played_wars.Clan == "Sheer Force"].copy()
#Joined Wars of clan member
sf_lpw["Joined Wars"] = sf_lpw["Total Wars"]
#get maximum number of wars this season
sf_max = sf_lpw["Total Wars"].max()
sf_lpw["Total Wars"] = sf_max
#find participation of members
sf_lpw["Participation"] = sf_lpw["Joined Wars"]/sf_max
#get < 50% participation members and add to slackers
sheer_force_slackers = sf_lpw.loc[sf_lpw.Participation < .5].copy()
sheer_force_slackers.head()
#sf = sheer_force_slackers.to_csv(r"C:\Users\tiz081\Documents\Clash\Clash Activity\sf.csv", index = True, header = True)

,Name,Tag,Last War,Town Hall,Clan,Total Wars,Joined Wars,Participation
0,marleigh,#QGCLV2J0,5/25/2021,11,Sheer Force,29,11,0.379310
2,ZARD,#LJ92JJ8Q,5/25/2021,10,Sheer Force,29,12,0.413793
6,Anubis,#LC2Q8UPGP,5/25/2021,9,Sheer Force,29,5,0.172414
7,Sloth,#Y9V8LUCLQ,5/25/2021,9,Sheer Force,29,2,0.068966
8,FredTime,#LV9CQQUR9,5/25/2021,9,Sheer Force,29,9,0.310345

In [9]:
#Dark Matter
dm_lpw = last_played_wars.loc[last_played_wars.Clan == "Dark Matter"].copy()
dm_lpw["Joined Wars"] = dm_lpw["Total Wars"]
dm_max = dm_lpw["Total Wars"].max()
dm_lpw["Total Wars"] = dm_max
dm_lpw["Participation"] = dm_lpw["Joined Wars"]/dm_max
dark_matter_slackers = dm_lpw.loc[dm_lpw.Participation < .5].copy()
dark_matter_slackers.head()
#dm = dark_matter_slackers.to_csv(r"C:\Users\tiz081\Documents\Clash\Clash Activity\dm.csv", index = True, header = True)

,Name,Tag,Last War,Town Hall,Clan,Total Wars,Joined Wars,Participation
65,bibhu,#9R9JP000V,5/24/2021,11,Dark Matter,28,2,0.071429
70,The Dude,#8P0YU0098,5/24/2021,14,Dark Matter,28,2,0.071429
81,Luca,#8J2LGRUU,5/24/2021,11,Dark Matter,28,13,0.464286
83,djdrng,#V0UQ2LC,5/24/2021,10,Dark Matter,28,3,0.107143
120,Dagerson,#V9LQRUJR,5/22/2021,10,Dark Matter,28,3,0.107143

In [10]:
#Mini Matter
mm_lpw = last_played_wars.loc[last_played_wars.Clan == "Mini Matter"].copy()
mm_lpw["Joined Wars"] = mm_lpw["Total Wars"]
mm_max = mm_lpw["Total Wars"].max()
mm_lpw["Total Wars"] = mm_max
mm_lpw["Participation"] = mm_lpw["Joined Wars"]/mm_max
mini_matter_slackers = mm_lpw.loc[mm_lpw.Participation < .5].copy()
mini_matter_slackers.head()
#mm = mini_matter_slackers.to_csv(r"C:\Users\tiz081\Documents\Clash\Clash Activity\mm.csv", index = True, header = True)

,Name,Tag,Last War,Town Hall,Clan,Total Wars,Joined Wars,Participation
90,goblin,#Q0CGY89Y2,5/23/2021,6,Mini Matter,27,5,0.185185
91,Alex The Strong,#Q9PU2PJJL,5/23/2021,6,Mini Matter,27,9,0.333333
92,edgar,#QY02090U2,5/23/2021,3,Mini Matter,27,1,0.037037
93,Krakatoa,#Q2UQQPGPP,5/23/2021,5,Mini Matter,27,8,0.296296
94,Kinoko,#Q00VVVL9U,5/23/2021,6,Mini Matter,27,12,0.444444

In [11]:
#Legendary Monks
lm_lpw = last_played_wars.loc[last_played_wars.Clan == "Legendary Monks"].copy()
lm_lpw["Joined Wars"] = lm_lpw["Total Wars"]
lm_max = lm_lpw["Total Wars"].max()
lm_lpw["Total Wars"] = lm_max
lm_lpw["Participation"] = lm_lpw["Joined Wars"]/lm_max
legendary_monks_slackers = lm_lpw.loc[lm_lpw.Participation < .5].copy()
legendary_monks_slackers.head()
#lm = legendary_monks_slackers.to_csv(r"C:\Users\tiz081\Documents\Clash\Clash Activity\lm.csv", index = True, header = True)

,Name,Tag,Last War,Town Hall,Clan,Total Wars,Joined Wars,Participation
37,verbxtiim,#YRJ8YUVLU,5/24/2021,8,Legendary Monks,28,13,0.464286
41,Designerpog,#QP2LUC009,5/24/2021,7,Legendary Monks,28,5,0.178571
42,Kruptos,#Q9CP8QJJR,5/24/2021,9,Legendary Monks,28,13,0.464286
43,smooth-ie,#LVQQG9JJV,5/24/2021,8,Legendary Monks,28,4,0.142857
46,⚔️FC Warrior⚔️,#LVJ0LPCU9,5/24/2021,7,Legendary Monks,28,12,0.428571